#banner
    .banner_content
        %h1 File Cabinet 
        %p  Your Daily filing system
        %button=link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Lorem ipsum dolor amet hammock helvetica meggings pork belly, 
                slow-carb man braid microdosing put a bird on it. Beard vape readymade, 
                tilde cornhole coloring book flexitarian kombucha bitters offal unicorn 
                next level. Tumblr tousled butcher kickstarter kombucha. Try-hard poutine 
                helvetica man bun sriracha. Mlkshk pickled chicharrones lomo, blue bottle 
                coloring book woke chillwave hell of hot chicken beard tumblr everyday carry kickstarter iPhone. 
                Pabst biodiesel mustache tofu sartorial.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button=link_to "Join now!", new_user_registration_path